<form class="example-form" [formGroup]="forms">
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Number 1</mat-label>
        <input matInput type="number" formControlName="textBox1" placeholder="Value 1">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Number 2</mat-label>
      <input matInput type="number" formControlName="textBox2" placeholder="Value 2">
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Answer</mat-label>
      <input matInput type="text" formControlName="label" >
    </mat-form-field>
</form>