<form class="example-form" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>User Name</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="User Name"
             matInput
             formControlName = "userName"
             [matAutocomplete]="auto"
             >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of matchedUser$ | async" [value]="option.userName" (click)="onOptionClick(option.userId)">
          {{option.userName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>User ID</mat-label>
      <input type="text"
             aria-label="User ID"
             matInput
             formControlName = "userId">
    </mat-form-field>
  </form>